.header {
    background: rgb(234,152, 54);
    position: sticky;
    top: 0;
    width: 100vw;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.title {
    color: white;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Verdana';
}

.tag-line {
    color: rgb(251, 240, 241);
    font-size: 16px;
    font-family: 'Verdana';
    margin-top: 0;
    margin-bottom: 20px;
}

.search-bar {
    width: 100%;
    display:flex;
    justify-content: center;
    margin-bottom:44px;
}
.search-bar input{
    width: 40%;
    height: 28px;
    padding: 8px;
    font-size: 16px;
    border: none;
}

@media screen and (max-width: 768px) {
    .search-bar input{
        width: 70%;
        height: 28px;
        padding: 8px;
        font-size: 16px;
        border: none;
    }
}

@media screen and (max-width: 360px) {
    .search-bar input{
        width: 90%;
        height: 28px;
        padding: 8px;
        font-size: 16px;
        border: none;
    }
}